{:kotoba.app/id "cloud.itonami.isic-3320", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreie2a2qkfra2spnrnj6i2q6rn3fdd47yrzlztvnbeqbce3ykzuvft4", :kotoba.app/embed-url "ipfs://bafkreie2a2qkfra2spnrnj6i2q6rn3fdd47yrzlztvnbeqbce3ykzuvft4", :published {:archive "https://kotobase.net/ipfs/bafkreie2a2qkfra2spnrnj6i2q6rn3fdd47yrzlztvnbeqbce3ykzuvft4", :size 72702, :put-status 201, :get-status 200, :at "2026-08-15T13:48:47.868Z"}}
